<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="testSection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="syncIntervalInDays" value="14" />
    <add key="autosync" value="false" />
    <add key="autosyncIntervalMin" value="1" />
  </appSettings>
  <testSection>
    <add key="outFilter" value="" />
    <add key="outTransformationCondition" value="" />
    <add key="outTransformation" value="" />
    <add key="inTransformationCondition" value="" />
    <add key="inTransformation" value="" />
    <add key="bannedToSyncToServices" value=""/>
  </testSection>
</configuration>