<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="syncIntervalInDays" value="14" />
    <add key="autosync" value="False" />
    <add key="autosyncIntervalMin" value="5" />

    <add key="outlookFilter" value="GetCategory() != &quot;Red Category&quot;" />
    <add key="outlookOutTransformationCondition" value="" />
    <add key="outlookOutTransformation" value="SetSubject(&quot;From Outlook&quot;)" />
    <add key="outlookInTransformationCondition" value="" />
    <add key="outlookInTransformation" value="SetCategory(&quot;Green Category&quot;)" />

    <add key="googleFilter" value="GetCategory() != &quot;11&quot;" />
    <add key="googleOutTransformationCondition" value="" />
    <add key="googleOutTransformation" value="SetSubject(&quot;From Google&quot;)" />
    <add key="googleInTransformationCondition" value="" />
    <add key="googleInTransformation" value="SetCategory(&quot;10&quot;)" />
  </appSettings>
</configuration>