<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="outlookServiceSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="googleServiceSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="syncIntervalInDays" value="14" />
    <add key="autosync" value="false" />
    <add key="autosyncIntervalMin" value="1" />
  </appSettings>
  <outlookServiceSettings>
    <add key="outFilter" value="GetCategory() != &quot;Red Category&quot;" />
    <add key="outTransformationCondition" value="" />
    <add key="outTransformation" value="SetSubject(&quot;From Outlook Edited&quot;)" />
    <add key="inTransformationCondition" value="" />
    <add key="inTransformation" value="SetCategory(&quot;Orange Category&quot;)" />
    <add key="bannedToSyncToServices" value=""/>
  </outlookServiceSettings>
  <googleServiceSettings>
    <add key="outFilter" value="GetCategory() != &quot;11&quot;" />
    <add key="outTransformationCondition" value="" />
    <add key="outTransformation" value="SetSubject(&quot;From Google Edited&quot;)" />
    <add key="inTransformationCondition" value="" />
    <add key="inTransformation" value="SetCategory(&quot;10&quot;)" />
    <add key="bannedToSyncToServices" value=""/>
  </googleServiceSettings>
</configuration>